$LBPsans: 'Nunito', Arial, Helvetica, sans-serif;

$darkGray: #383838;
$gray: #b4b4b4;
$lightGray: #d0d0d0;
$white: #FFFFFF;
$paleBlue: #d6f4ff;
$lightBlue: #bde6f5;
$babyBlue: #8ed0e8;
$blue: #005480;
$darkBlue: #003366;
$brown: #563c07;
$darkBrown: #35312a;
$rust: #bf7a0d;
$gold: #fec763;
$sand: #ece5d9;
$purple: #800072;
$pink : #ea55b1;
$lilac: #a992fa;

$break-xsmall: 460px;
$break-small: 768px;
$break-medium: 1067px;
$break-large: 1200px;
